@font-face {
  src: url(Fonts/Portico-Vintage.otf);
  font-family: Portico;
}

@font-face {
  src: url(Fonts/American-Typewriter.ttf);
  font-family: American Typewriter;
}

body {
  background: #E3E3E3;
}

.name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name-container img {
  -webkit-filter: drop-shadow(0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.3));
  width: 400px;
  margin-left: 3em;
  margin-right: 3em;
}

.designer-title {
  font-family: Portico;
  font-size: 5em;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 742px) {
  .designer-title {
    font-size: 4em;
  }
}

@media only screen and (max-width: 495px) {
  .designer-title {
    font-size: 3em;
  }
}

@media only screen and (max-width: 371px) {
  .designer-title {
    font-size: 2em;
  }
}

.developer-title {
  font-family: American Typewriter;
  font-size: 5em;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 742px) {
  .developer-title {
    font-size: 4em;
  }
}

@media only screen and (max-width: 495px) {
  .developer-title {
    font-size: 3em;
  }
}

@media only screen and (max-width: 371px) {
  .developer-title {
    font-size: 2em;
  }
}

.screen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screen-window {
  margin: 0 2em;
  height: 400px;
  width: 700px;
  border-radius: 14px 14px 10px 10px;
  position: relative;
  -webkit-filter: drop-shadow(0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.3));
}

@media only screen and (max-width: 742px) {
  .screen-window {
    height: 250px;
    width: 450px;
  }
}

@media only screen and (max-width: 495px) {
  .screen-window {
    height: 200px;
    width: 350px;
  }
}

@media only screen and (max-width: 371px) {
  .screen-window {
    height: 180px;
    width: 300px;
  }
}

.screen-window__img {
  padding-top: 20px;
  width: 100%;
}

.screen-window__img__container {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}

.screen-window__bar {
  width: inherit;
  height: 20px;
  background-color: #fff;
  position: absolute;
  border-radius: 10px 10px 0px 0px;
}

.screen-window__bar span:nth-child(1) {
  background-color: #FF5754;
}

.screen-window__bar span:nth-child(2) {
  background-color: #FFB53D;
}

.screen-window__bar span:nth-child(3) {
  background-color: #00C243;
}

.screen-window__bar__dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

.screen-window__bar__dot__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */