body {
    background: #E3E3E3;
    margin: 0;
    padding: 0;
}

.header-img-container {
    width: 100%;
    img {
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 47%;
    }
}

.name-container {
    display: flex;
    width: 100%;
    justify-content: center;
    img {
        filter: drop-shadow(0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.3));
        width: 400px;
        margin: 3em;
        @media only screen and (max-width: 742px) {
            width: 350px;
            margin: 2em;
        }
        @media only screen and (max-width: 495px) {
            width: 250px;
            margin: 1em;
        }
    }
    
}

.screen {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &-container {
        &__title {
            &-container {
                height: 5em;
                display: flex;
                justify-content: center;
                @media only screen and (max-width: 742px) {
                    height: 4em;
                }
                @media only screen and (max-width: 495px) {
                    height: 3em;
                }
            }
            &-develop {
                margin-top: auto;
                height: 5em;
                @media only screen and (max-width: 742px) {
                    height: 4em;
                }
                @media only screen and (max-width: 495px) {
                    height: 3em;
                }
            }
            &-design {
                margin-top: auto;
                height: 4em;
                @media only screen and (max-width: 742px) {
                    height: 3em;
                }
                @media only screen and (max-width: 495px) {
                    height: 2em;
                }
            }

        }
    }
    
    &-window {
        // display: flex;
        margin: 0 2em;
        height: 400px;
        width: 700px;
        border-radius: 14px 14px 10px 10px;
        position: relative;
        filter: drop-shadow(0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.3));
        @media only screen and (max-width: 742px) {
            height: 250px;
            width: 450px;
        }
        @media only screen and (max-width: 495px) {
            height: 200px;
            width: 350px;
        }
        @media only screen and (max-width: 371px) {
            height: 180px;
            width: 300px;
        }

        &__img {
            padding-top: 20px;
            width: 100%;

            &__container {
                height: inherit;
                width: inherit;
                border-radius: inherit;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
        &__bar {
            width: inherit;
            height: 20px;
            background-color: #fff;
            // position: fixed;
            position: absolute;
            border-radius: 10px 10px 0px 0px;

            span:nth-child(1) {
                background-color: #FF5754;
            }
            span:nth-child(2) {
                background-color: #FFB53D;
            }
            span:nth-child(3) {
                background-color: #00C243;
            }

            &__dot {
                height: 12px;
                width: 12px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                margin: 3px;
                &__container {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                }
            }
        }
    }
}

.trim-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    svg {
        width: 80%;
        fill: #c3c3c3;
    }
}